$family-display = objektiv-mk1, sans-serif
$family-content = nunito-sans, sans-serif

$weight-light = 200
$weight-normal = 400
$weight-bold = 700

$space-xs = 4px
$space-s = 8px
$space-m = 16px
$space-l = 32px

$size-s = 14px
$size-m = 16px
$size-l = 18px
$size-xl = 24px
$size-xxl = 32px

$black = #09090A
$dark = #121212
$grey = #555
$white = #fff
$light = #f4f4f4
